<?xml version="1.0"?>
<!--
/**
 * Maho
 *
 * @package    MageAustralia_B2bRegistration
 * @copyright  Copyright (c) 2026 Mage Australia
 * @license    https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <MageAustralia_B2bRegistration>
            <version>1.1.0</version>
        </MageAustralia_B2bRegistration>
    </modules>

    <global>
        <helpers>
            <b2bregistration>
                <class>MageAustralia_B2bRegistration_Helper</class>
            </b2bregistration>
        </helpers>
        <models>
            <b2bregistration>
                <class>MageAustralia_B2bRegistration_Model</class>
                <resourceModel>b2bregistration_resource</resourceModel>
            </b2bregistration>
            <b2bregistration_resource>
                <class>MageAustralia_B2bRegistration_Model_Resource</class>
                <entities>
                    <application>
                        <table>b2b_application</table>
                    </application>
                </entities>
            </b2bregistration_resource>
        </models>
        <blocks>
            <b2bregistration>
                <class>MageAustralia_B2bRegistration_Block</class>
            </b2bregistration>
        </blocks>
        <resources>
            <b2bregistration_setup>
                <setup>
                    <module>MageAustralia_B2bRegistration</module>
                </setup>
            </b2bregistration_setup>
        </resources>
        <!--
             The flow is event-driven: Model/Observer.php subscribes to
             customform_submission_created via a #[Maho\Config\Observer]
             attribute. Run `composer dump-autoload` after install.
        -->
        <template>
            <email>
                <b2bregistration_new_application translate="label" module="b2bregistration">
                    <label>B2B Registration - New trade application (admin)</label>
                    <file>b2bregistration/new_application.html</file>
                    <type>html</type>
                </b2bregistration_new_application>
            </email>
        </template>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <MageAustralia_B2bRegistration>
                    <files>
                        <default>MageAustralia_B2bRegistration.csv</default>
                    </files>
                </MageAustralia_B2bRegistration>
            </modules>
        </translate>
        <layout>
            <updates>
                <b2bregistration>
                    <file>mageaustralia_b2bregistration.xml</file>
                </b2bregistration>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <b2bregistration>
            <general>
                <enabled>0</enabled>
                <form_codes>trade_application</form_codes>
                <email_field>email</email_field>
                <b2b_group></b2b_group>
            </general>
            <mapping>
                <!-- JSON object: {"form_field_key":"customer_attribute_code"}.
                     Convention (key === attribute) applies for anything not listed. -->
                <overrides>{}</overrides>
            </mapping>
        </b2bregistration>
    </default>
</config>
